@model City
@{
    ViewData["Title"] = "City not found";
}
<h1>@Model.Name not found!</h1>

<p>Did you mean one of the following cities?</p>

<p><ul>
    @foreach (var alt in Model.SimilarCities)
    {
        <li><a href="/Weather?cityId=@alt.Id&day=0">@alt.Name</a></li>
    }
</ul></p>