@model WeatherModel
@{
    ViewData["Title"] = "Weather";
}
<h1>@ViewData["Title"]</h1>

<p>The current weather will be shown here.</p>

<p>The weather in @Model.city on the @Model.date will be @Model.weather.name.</p>